@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

html, body {
  font-family: 'Mali', cursive;
  background: url("../img/background.webp") no-repeat;
  background-size: cover;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}

#root, #app, #container {
  width: 100%;
  height: 100vh;
}

#container, .weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-container {
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 300px;
  width: 300px;
  border: none;
}

.weather-container img {
  width: 80px;
}

.weather-container p {
  font-size: 15px;
  color: white;
}

.weather-container p:nth-child(3) {
  font-size: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrapper img {
  width: 20px;
  height: 20px;
}

.wrapper p span {
  font-size: 17px;
}

form {
  display: flex;
  gap: 5px;
}

.search {
  width: 250px;
  text-indent: 10px;
}

.search, .search-button {
  font-family: 'Mali', cursive;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: none;
  padding: 5px;
  color: white;
}

.search:focus {
  outline: none;
  color: white;
}

.search-button img {
  width: 18px;
  cursor: pointer;
}

::placeholder {
  color: white;
}

.error {
  font-size: 15px;
  color: rgb(180, 0, 0);
}

@media screen and (min-width: 1024px) {
  .weather-container {
    height: 400px;
    width: 400px;
  }

  .weather-container img {
    width: 120px;
  }

  .weather-container p {
    font-size: 18px;
  }
  
  .weather-container p:nth-child(3) {
    font-size: 22px;
  }

  .wrapper img {
    width: 30px;
    height: 30px;
  }

  .wrapper p span {
    font-size: 18px;
  }

  .search {
    width: 350px;
  }

  .search-button img {
    width: 22px;
  }

  .error {
    font-size: 18px;
  }
}